.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

img {
  object-fit: contain;
  max-height: 100px;
}

video {
  max-height: 200px;
}
